[user]
	name = Thomas Orgeval
	email = orgevalthomas@gmail.com
    signingkey = E70B582E2635A01B
    signcommits = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true